<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <title>Todo List</title>
</head>
<body>
    <h1>Todo List</h1>

    <div id="collections">
        {% for collection in collections %}
            <button hx-get="{% url 'get-tasks' collection.pk %}"
                    hx-target="#tasks"
                    hx-push-url="?collection={{ collection.slug }}">{{ collection.name }}</button>
        {% endfor %}
    </div>

    <form method="POST">
        {% csrf_token %}
        <label for="name-collection">Nom de la collection : </label>
        <input type="text" name="collection-name" id="name-collection">
        <button hx-post="{% url 'add-collection' %}"
                hx-target="#collections"
                hx-swap="beforeend"
                type="submit">Ajouter</button>
    </form>

    <form method="POST">
        {% csrf_token %}
        <label for="name-task">Description de la tâche : </label>
        <input type="text" name="task-description" id="name-description">
        <button hx-post="{% url 'add-task' %}"
                hx-target="#tasks"
                hx-vals='js:{collection: getCollectionFromURL()}'
                hx-swap="beforeend"
                type="submit">Ajouter</button>
    </form>

    <div id="tasks">
        {% include 'tasks/tasks.html' with tasks=tasks %}
    </div>

    <script>
        document.body.addEventListener("htmx:responseError", function(evt) {
            alert(evt.detail.xhr.responseText);
        })

        function getCollectionFromURL() {
            let url = new URL(window.location.href);
            let searchParams = url.searchParams;
            return searchParams.get('collection')
        }
    </script>
</body>
</html>
