<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>
<body>
    <h1>Todo List</h1>

    {% for collection in collections %}
        <h2>{{ collection.name }}</h2>
    {% endfor %}

    <form method="POST" action="{% url 'add-collection' %}">
        {% csrf_token %}
        <label for="name-collection">Nom de la collection</label>
        <input type="text" name="collection-name" id="name-collection">
        <button type="submit">Ajouter</button>
    </form>
</body>
</html>
